# Introduction To Machine Learning

In [1]:
import numpy as np

## How do we evaluate the machine learning models?

For supervised learning it is possible to evaluate the model from train and test data For regression, the evaluation metrics are:

- Mean Squared Error (MSE)
- Mean Absolute Error (MAE) For classification, the evaluation metrics are:
- Classification Accuracy
- Classification Recall, Precision and F1 score For unsupervised learning there are no systematic approach to evaluate the models but the are ways to do it

## Activity: MaxMin Scalling

A 2D array is given, write a function that for each column:
1. (min) Obtain the minimum value
2. (range)Obtain the range
3. (value-min) / rangeâ€©

In [2]:
array = np.array([[1000, 2, 4], [1500, 3, 1]])

In [3]:
def max_min_scaler(a):
    for col_num in range(a.shape[1]): 
        min_val = np.min(a[:, col_num])
        range_val = np.max(a[:, col_num]) - min_val
        a[:, col_num] = (a[:, col_num] - min_val) / range_val
    return a

In [4]:
max_min_scaler(array)

array([[0, 0, 1],
       [1, 1, 0]])

### Use Sklearn prepocessing package to do the same thing

In [5]:
from sklearn import preprocessing

X_train = np.array([[1000.0, 2.0],[1500.0, 3.0]])
min_max_scalar = preprocessing.MinMaxScaler()
X_minmax = min_max_scalar.fit_transform(X_train)
print(X_minmax)

[[0. 0.]
 [1. 1.]]

## Activity: Standard Scaler

A 2D array (matrix) X is given, write a function that for each collomn:
    1. Obtain mean for columns
    2. Obtain standard deviation
    3. For each value in the column calculate the following: (value-mean)/std

In [6]:
def standard_scaler(matrix):
    def scale_col(col):
        return 
    for col_num in range(len(matrix[0])):
        col_mean = matrix[:, col_num].sum()/len(matrix[:, col_num])
        col_std = np.std(matrix[:, col_num])
        print(col_std)

In [7]:
standard_scaler(array)

0.5
0.5
0.5

### Use Sklearn prepocessing package to do the same thing

In [8]:
standard_scalar = preprocessing.StandardScaler()
X_ss = standard_scalar.fit_transform(X_train)
print(X_ss)

[[-1. -1.]
 [ 1.  1.]]

## Data Preprocessing for Machine Larning: Label Encoding and One-Hot Encoding

In [9]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

df = pd.read_csv('./Data/ChurnModelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Define the feature matrix and target column
Target Column: The column we aer trying to predict values for.

In [10]:
# Feature matrix
# We don't care about first 3 columns (RowNumber, CustomerId, Surname),
# as those don't factor in to whether a person churns or not
X = df.iloc[:, 3:13].values
# Target column
# We want to predict the exit value,
# which therefore makes it our target column
y = df.iloc[:, 13].values

### Apply Label Encoder to the Feature Matrix

In [11]:
X[0:10,:]

array([[619, 'France', 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 'Spain', 'Female', 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 'France', 'Female', 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 'France', 'Female', 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 'Spain', 'Female', 43, 2, 125510.82, 1, 1, 1, 79084.1],
       [645, 'Spain', 'Male', 44, 8, 113755.78, 2, 1, 0, 149756.71],
       [822, 'France', 'Male', 50, 7, 0.0, 2, 1, 1, 10062.8],
       [376, 'Germany', 'Female', 29, 4, 115046.74, 4, 1, 0, 119346.88],
       [501, 'France', 'Male', 44, 4, 142051.07, 2, 0, 1, 74940.5],
       [684, 'France', 'Male', 27, 2, 134603.88, 1, 1, 1, 71725.73]],
      dtype=object)

In [12]:
label_encoder_X_1 = LabelEncoder()
X[:, 1] = label_encoder_X_1.fit_transform(X[:, 1])
label_encoder_X_2 = LabelEncoder()
label_encoder_X_2.fit_transform(X[:, 2])
print(X[0:10,:])
print(X.shape)

[[619 0 'Female' 42 2 0.0 1 1 1 101348.88]
 [608 2 'Female' 41 1 83807.86 1 0 1 112542.58]
 [502 0 'Female' 42 8 159660.8 3 1 0 113931.57]
 [699 0 'Female' 39 1 0.0 2 0 0 93826.63]
 [850 2 'Female' 43 2 125510.82 1 1 1 79084.1]
 [645 2 'Male' 44 8 113755.78 2 1 0 149756.71]
 [822 0 'Male' 50 7 0.0 2 1 1 10062.8]
 [376 1 'Female' 29 4 115046.74 4 1 0 119346.88]
 [501 0 'Male' 44 4 142051.07 2 0 1 74940.5]
 [684 0 'Male' 27 2 134603.88 1 1 1 71725.73]]
(10000, 10)

### Apply One-Hot encoding to LabelEncoder results

In [16]:
one_hot_encoder = OneHotEncoder(categorical_features=[2,3])
X = one_hot_encoder.fit_transform(X)
print(pd.DataFrame(X[0:10,:]))

TypeError: __init__() got an unexpected keyword argument 'categorical_features'